<html>
<head>
  <title>Read It Live</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
  <script src="../bower_components/angular-timer/app/js/timer.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/angularAdminApp.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="readItLive">
  <div class="row">

      <ui-view> </ui-view>

  </div>

<!--  template for Home  -->

      <script type="text/ng-template" id="/home.html">
        <div class="class=col-sm-9 col-lg-6 ">
          <div class="page-header">
             <h1>Read It Live</h1>
           </div>

           <a ui-sref="newEvent">Create a New Event</a>

           <table class="table table-striped" style="font-size:20px; margin-left:10px;">
            <thead><tr>
              <th>Edit</th>
              <th>Name</th>
              <th>Blogger</th>
              <th>Date</th>
              <th>Description</th>
            </tr></thead>
            <tbody><tr ng-repeat="event in events">
              <td>
                <button class="btn" ng-click="editEvent(event)">
                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                </button>
              </td>
              <td><a ui-sref="eventDetail({id : '{{event._id}}'})">{{ event.title }} </a></td>
              <td>{{ event.creator }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.description}}</td>
            </tr></tbody>
          </table>
        </div>
      </script>

<!-- Template for Creation of New Event -->
       <script type="text/ng-template" id="/newEvent.html">
       <div class="class=col-sm-9 col-lg-6 ">
          <div class="page-header">
             <h1>Read It Live</h1>
           </div>
           <a ui-sref="home">Return to All Events</a>
           <h3>Add a new event</h3>

           <div class="form-group">
             <input type="text" class="form-control" placeholder="Title" ng-model="title"></input>
           </div>
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Details" ng-model="detail"></input>
           </div>
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Creator" ng-model="creator"></input>
           </div>
           <button ng-click='addEvent()' type="submit" class="btn btn-primary">Submit</button>
        </div>
      </script>

<!-- Template for Details and Posts for a Specific Event -->
      <script type="text/ng-template" id="/eventDetail.html">




        <div class="class=col-sm-9 col-lg-6 ">
          <div class="page-header">
            <h1>Read It Live</h1>
            <a class="return" ui-sref="home">Return to All Events</a>
          </div>

          <h3>{{event.title}} by {{event.creator}}</h3>
          <!--<timer end-time="1420070400000">
            Starting in {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.
          </timer>-->

          <textarea id="post"></textarea>
          <button class="button" ng-click="addPost()"> Submit Post </button>
            <div ng-repeat="post in posts">
               <span style="font-size:20px; margin-left:10px;">
                 <div>
                 {{post.body}}
                 </div>
               </span>
             </div>
          </div>

          <div class="detailBox col-sm-3 " >
            <div class="titleBox">
              <label>Comment Box</label>
                <button type="button" class="close" aria-hidden="true">&times;</button>
            </div>

            <div class="actionBox">
                <ul class="commentList">
                    <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/6" />
                        </div>
                            <p class="commentText">Hello this is a test comment.</p>
                    </li>
                    <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/7" />
                        </div>
                            <p class="commentText">Hello this is a test comment.</p>
                    </li>
                    <li>
                        <div class="commenterImage">
                          <img src="http://lorempixel.com/50/50/people/9" />
                        </div>
                            <p class="commentText">Hello this is a test comment.</p>
                    </li>
                </ul>

                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your comments" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>
      </script>

    </body>
    </html>