<html>
<head>
  <title>Read It Live</title>
</head>
<body>
	<h1> Read  It Live </h1>
	<form action="/login" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
</body>
</html>
