<html>
<head>
  <title>Read It Live</title>
</head>
<body>
	<h1> Read  It Live Register </h1>
	<form action="/signup" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" placeholder="username"/>
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="password"/>
      </div>
      <div>
        <label>email</label>
        <input type="email" name="email" placeholder="email" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
</body>
</html>
